@bg-color: #ffffff;
@btn-color: #68B738;
@text-color: #444444;
@text-color-heading: #000000;
@contrasting-color: #FFFFFF;
@gray: #EAEAEA;
@gray--dark: #EAEAEA;
@gray--darken: #222222;
@base-font-family: Arial, Tahoma, sans-serif;
@main-font: Oswald, Verdana, sans-serif;
@base-font-weight: normal;
@base-font-size: 14px;
@base-line-height: 18px;
