@bg-color: #ffffff;
@btn-color: #68B738;
@btn-hover: #5EAA2F;
@basic-green: #68B738;
@text-color: #444444;
@special-grey: #666666;
@text-color-heading: #000000;
@black: #111111;
@contrasting-color: #FFFFFF;
@white: #ffffff;
@dirty-white: #d9d9d9;
@gray--light: #F2F2F2;
@gray: #EAEAEA;
@gray--clear: E7E7E7;
@gray--dark: #EAEAEA;
@gray--murk: #BABABA;
@gray--darken: #222222;
@border--dark: #CDCDCD;
@border--light: #E6E6E6;
@error-color: #FF8282;
@base-font-family: Arial, Tahoma, sans-serif;
@main-font: Oswald, Verdana, sans-serif;
@base-font-weight: normal;
@base-font-size: 14px;
@base-line-height: 18px;
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
