.additional-catalog {
  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
  }
  @media (min-width: @desktop-width){
    margin-bottom: 70px;
  }

}

.additional-catalog__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: @base-font-weight;
  font-size: 24px;
  line-height: 24px;
  color: @text-color-heading;
  margin-bottom: 49px;
  background-color: @bg-color;
  max-width: 247px;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: -27px;
    padding-left: 37px;
    max-width: 410px;

  }
  @media (min-width: @desktop-width) {
    margin: 1px 0 13px;
  }
}

.additional-catalog__title::before {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    width: 280px;
    left: 20px;
    border: 1px solid @border--dark;
    margin-top: 58px;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    width: 62%;
    left: auto;
    border: 1px solid @border--dark;
    margin-top: 115px;
  }
}

.additional-catalog__title::after {
  position: absolute;
  content: "";
  left: 20px;
  background-color: @btn-color;
  height: 2px;
  width: 100%;
  margin-top: 20px;
  z-index: -2;
  @media (min-width: @tablet-width) {
    left: 0;
  }
}

.additional-catalog__product {
  margin-bottom: 65px;

  @media (min-width: @tablet-width) {
    // border: 1px solid @border--dark;
    padding: 40px 38px 24px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;

  }

  @media (min-width: @desktop-width) {
    border: none;
    padding: 73px 0 0 0;
  }
}

.additional-catalog__container {
  @media (min-width: @desktop-width){
    display: flex;
    justify-content: space-between;
    padding: 0;

  }
}

.additional-catalog__present {
  margin-bottom: 46px;
}

.additional-catalog__wrapper {
  background-image: url("../img/image-cat-traveler.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-present.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 58px;
    width: 78px;
    height: 80px;
  }

  @media (min-width: @tablet-width){
    background-image: url("../img/image-cat-traveler-2.jpg");
    width: auto;

    &::after {
      position: relative;
      top: -107px;
      left: -236px;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/image-cat-traveler.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 245px;
    min-height: 290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 66px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/icon-present.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 58px;
      width: 78px;
      height: 80px;
      left: 85px;
    }
  }


    // @media (min-width: @tablet-width) {

    //   }
}




  //     @media (min-width: @desktop-width) {
  //       position: relative;
  //       top: -150px;
  //       left: 0;
  //     }
  //   }
  // }

.additional-catalog__text {
  font-family: @base-font-family;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  margin: 0 0 43px;
  text-align: center;
  width: 161px;
  justify-self: flex-end;

  @media (min-width: @tablet-width) {
    margin: 0 0 34px 301px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0px;
    position: absolute;
    text-align: center;
  }
}
