.additional-catalog{
  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
  }
  @media (min-width: @desktop-width){
    margin-bottom: 70px;
  }

}

.additional-catalog__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: @base-font-weight;
  font-size: 24px;
  line-height: 24px;
  color: @text-color-heading;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: -27px;
    margin-left: 37px;
  }
  @media (min-width: @desktop-width) {
    margin: 1px 0 0;
  }
 }

.additional-catalog__product{
  margin-bottom: 69px;

  @media (min-width: @tablet-width) {
    border: 1px solid #CDCDCD;
    padding: 40px 38px 12px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;

  }

  @media (min-width: @desktop-width) {
    border: none;
    padding: 73px 0 0 0;
  }
}

.additional-catalog__container{
  @media (min-width: @desktop-width){
    display: flex;
    justify-content: space-between;
    padding: 0;

  }
}

.additional-catalog__present {
  margin-bottom: 46px;
}

.additional-catalog__wrapper {
  background-image: url("../../img/image-cat-traveler.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width){
    background-image: url("../../img/image-cat-traveler-2.jpg");
    width: auto;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../img/icon-present.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 58px;
    width: 78px;
    height: 80px;

    @media (min-width: @tablet-width){
      position: relative;
      top: -100px;
      left: -200px;
      }
    }

  @media (min-width: @desktop-width){
    background-image: url("../../img/image-cat-traveler.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 245px;
    min-height: 290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 80px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../img/icon-present.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 58px;
      width: 78px;
      height: 80px;

      @media (min-width: @desktop-width){
        position: relative;
        top: -150px;
        left: 0;
      }
    }
  }

.additional-catalog__text {
    font-family: @base-font-family;
    font-size: 16px;
    line-height: 20px;
    color: @white;
    margin: 0 0 43px;
    text-align: center;
    width: 160px;
    justify-self: flex-end;

    @media (min-width: @tablet-width) {
      margin-left: 350px;
    }
    @media (min-width: @desktop-width){
      margin-left: 0px;
      position: absolute;
    }
  }
}
