.cat-program{
  background-color: @gray--light;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width){
    width: 708px;
    padding-top: 77px;
    padding-bottom: 57px;
  }
  @media (min-width: @desktop-width){
    width: 570px;
    padding-bottom: 59px;
    margin: 0;
  }
}

.cat-program__image{

}

.cat-program__heading{
  font-family: @main-font;
  text-transform: uppercase;
  color: @text-color-heading;
  font-size: 24px;
  line-height: 37px;
  font-weight: @base-font-weight;
}

// .cat-program__heading::before{
//   content: "";
//   background-image: url(/source/img/cat-slim.svg);
//   width: 30px;
//   height: 30px;
// }

.cat-program__text{
  font-family: @base-font-family;
  font-size: 14px;
  line-height: 18px;
  font-weight: @base-font-weight;
  width: 227px;
  margin-bottom: 42px;

    @media (min-width: @tablet-width){
    font-size: 16px;
    line-height: 24px;
    color: @text-color-heading;
    width: 340px;
    margin-left: 53px;
    margin-top: 24px;
    margin-bottom: 52px;}

    @media (min-width: @desktop-width){
    width: 467px;
    margin-bottom: 27px;
}

}

.cat-program__catalog-more{
  text-decoration: none;
  text-transform: uppercase;
  color: @text-color-heading;

}
