.catalog{
  display: flex;
  flex-direction: column;


}

.catalog__title{
  font-family: @main-font;
  font-style: normal;
  font-weight: @base-font-weight;
  font-size: 36px;
  line-height: 36px;
  color: @text-color-heading;
}

.catalog__product{

}
