.contacts {
  padding: 0;
  @media (min-width: @desktop-width){
    position: relative;
  }
}


.contacts__location-wrapper{
  @media (min-width: @tablet-width){

  }

  @media (min-width: @desktop-width){

  }
}

.contacts__address{
  // position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width){
    position: absolute;
    top: 30%;
    background-color: @bg-color;
    width: 565px;
    justify-content: space-around;
    padding: 56px 80px;
  }
}

.contacts__heading{
  font-family: @main-font;
  font-size: 16px;
  font-weight: @base-font-weight;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: @tablet-width){

    width: 168px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text{
  font-family: @base-font-family;
  font-size: 14px;
  line-height: 20px;
  color: @text-color;

  @media (min-width: @tablet-width){
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }
  @media (min-width: @desktop-width){
    text-align: left;
  }
}

.contacts__map-image{

  border: 0;
  width: 100%;

  @media (min-width: @desktop-width){
    height: 400px;
    }
}

// .contacts__map-image{
//   width: 320px;
//   height: 362px;
//   padding: 0;
//   margin: 0;

//   @media (min-width: @tablet-width){
//     padding: 0;
//     margin: 0;
//     width: 100%;
//     height: 400px;
//   }

//   // @media (min-width: @desktop-width){
//   //   width: 100%;
//   //   height: 400px;
//   // }

// }
