.contacts__location-wrapper{

}

.contacts__address{
  display: flex;
}

.contacts__heading{
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__text{
  font-family: @base-font-family;
  font-size: 14px;
  line-height: 20px;
  color: @text-color;

}

.contacts__map{

}
