.filter__container{
  margin-bottom: 30px;

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

// .form__label {
//   margin-right: 14px;
//   text-transform: uppercase;

//   @media (min-width: @tablet-width) {
//     margin-right: 18px;
//     .text(20px; 30px);
//   }
// }

.filter__user-data{
  margin: 0;
  padding: 25px 0;
  font-family: @main-font;
  font-weight: @base-font-weight;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 22px 0;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }

}

.filter__user-data-list{
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.filter__user-data-item{
  display: flex;
  justify-content: flex-start
}
.filter__user-data-item:not(:last-child) {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 19px;
  }
}


.filter__user-data-label{

}

.filter__user-data-input{
  margin-left: 12px;
  padding: 13px 15px;
  flex: 1 1 auto;
  width: 10%;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;


  @media (min-width: @tablet-width) {
    margin-left: 17px;
    padding: 21px 18px 14px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 18px;
    border: 1px solid #E7E7E7;
    padding: 21px 18px 15px;
  }

  &::placeholder {
    font-family: @main-font;
    color: @text-color;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

}

.filter__user-data-input:hover {
  outline: 1px solid #CDCDCD;
}

.filter__user-data-input:focus {
  outline: 2px solid #444444;
}

.filter__user-data-input:invalid {
  outline: 2px solid #FF8282;
}


.filter__program-choose{
  border: none;
  margin: auto 23px 45px 20px;

  @media (min-width: @desktop-width) {
    font-family: @main-font;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
  }
}

.filter__program-choose-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;

  @media (min-width: @desktop-width) {
    margin-top: 20px;
  }
}

.filter__program-choose-item {
  margin-bottom: 24px;
}

.filter__program-choose-item:hover .filter__program-choose-label::before{
  outline: 1px solid #BABABA;
}


.filter__program-choose-item:active {
  opacity: 0.3;
}

.filter__program-choose-item:not(:last-child){

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }

}

// .filter__program-choose-input[type="radio"]:checked + .form__label {
//   // position: absolute;
//   left: 8px;
//   top: 2px;
//   width: 14px;
//   height: 14px;
//   border-radius: 50%;
//   background-color: @btn-color;
//   content: "";

//   @media (min-width: @tablet-width) {
//     left: 18px;
//     top: 6px;
//     width: 18px;
//     height: 18px;
//   }

//   @media (min-width: @desktop-width) {
//     left: 17px;
//     top: 8px;
//   }
// }


// .ffilter__program-choose-label::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: block;
//   box-sizing: border-box;
//   width: 20px;
//   height: 20px;
//   border: 2px solid black;
//   border-radius: 20px;
// }


// не центрует по предложенному варианту
.filter__program-choose-input[type="radio"]:checked + .form__label {
  &::after {
    position: absolute;
    left: 14px;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background-color: @btn-color;
    border-radius: 50%;
    content: "";

    @media (min-width: @tablet-width){
      left: 27px;
      width: 18px;
      height: 18px;
    }
    @media (min-width: @desktop-width) {
      left: 25px;
    }
  }
}

.filter__program-choose-label {
  display: block;
  position: relative;
  padding-left: 45px;
  color: @gray--darken;

  &::before {
    position: absolute;
    top: -7px;
    left: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    content: "";
  }
  @media (min-width: @tablet-width) {
    padding-left: 67px;

    &::before {
      top: -6px;
      left: 7px;
      width: 40px;
      height: 40px;
    }
  }

    @media (min-width: @desktop-width) {
    &::before {
      top: -5px;
      left: 5px;
    }
  }
}


.filter__user-contacts{
  border: none;
  padding: 0;
  margin: 0 0 25px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 70px 0;
  }
  @media (min-width: @desktop-width){
    margin: 0 0 49px 0;

  }
}

.filter__user-contacts-title {
  text-transform: none;
  margin-bottom: 35px;
  @media (min-width: @tablet-width) {
    margin-bottom: 78px;
  }
}

.filter__user-contacts-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.filter__user-contacts-item{

}
.filter__user-contacts-item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 27px;
  }

}
.filter__user-contacts-label{

}

.filter__user-contacts-input{
  margin-left: 12px;
  padding: 13px 15px;
  flex: 1 1 auto;
  width: 10%;
  min-height: 45px;

  @media (min-width: @tablet-width) {
    padding: 15px 18px 10px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 22px;
  }

  &::placeholder {
    font-family: @main-font;
    color: @text-color;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

}

// .filter__user-contacts-input:hover{
//   outline: 1px solid #CDCDCD;
// }

// .filter__user-contacts-input:focus + .filter__user-contacts-svg {
//   outline: 2px solid #444444;
//   fill: #68B738;
// }

// .filter__user-contacts-input:invalid {

// }

.filter__user-contacts-svg{
  position: relative;
  left: -40px;
}
.filter__comment{
  border: none;
  padding: 0;
  margin: 0;

}

.filter__comment-title {
  text-transform: none;

  @media (min-width: @desktop-width) {
    margin-left: -53px;
    margin-bottom: 70px;
  }

}

.filter__comment-text{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  width: 100%;
  border: 1px solid #E7E7E7;
  text-transform: uppercase;
  font-family: @main-font;
  font-style: normal;
  font-weight: @base-font-weight;
  padding: 9px 0 14px;
  margin-bottom: 19px;

  &:active {
    border: 2px solid #444444;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 18px;
    width: 95%;
    max-height: 176px;
    margin-bottom: 61px;

  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.filter__other-products{
  border: none;
  padding: 0;
  margin: 0;


}

.filter__other-products-title{
  text-transform: none;
}

.filter__other-products-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: -5px 0 36px 0;

    @media (min-width: @tablet-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    margin-top: -20px;
    margin-bottom: 24px;

  }
    @media (min-width: @desktop-width){
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
  }
}
.filter__other-products-item:not(:last-child){
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    margin-right: 125px;
  }
  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-bottom: 40px;
  }

}

.filter__other-products-item:hover .filter__other-products-label::before{
  border: 1px solid #BABABA;
}
.filter__other-products-item:active{
  opacity: 0.3;
}

.filter__other-products-label::before{
  position: relative;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;;
  content: "";
  margin-right: 19px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.filter__other-products-input:checked + .filter__other-products-label::before {
  background: url("../img/tick-mini.svg") 50% 50% no-repeat;

  @media (min-width: @tablet-width){
    background: url("../img/tick-big.svg") 50% 50% no-repeat;
  }
}

.filter__other-products-label{
  display: flex;
  align-items: center;
  margin: 0 0 0 37px;
  cursor: pointer;
}

.filter__request{
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width){
    flex-direction: row;
    align-items: center;
  }
}

.filter__button {
  background-color: @btn-color;
  color: @contrasting-color;
  text-transform: uppercase;
  padding: 10px 44px;
  border: none;
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding: 15px 65px;
    margin: 0;
  }
  @media (min-width: @desktop-width){
    padding: 16px 209px;
  }
}

.filter__button:hover {
  background-color: #5EAA2F;
}

.filter__button:active {
  color: #ffffff4d;
}

.filter__text {
  text-transform: none;
  margin: 0 0 0 66px;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.filter__fieldset-radio {
  position: relative;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0 0 5px 21px;
    margin-bottom: 75px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 10px 20px
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    right: -20px;
    left: -30px;
    background-color: #d9d9d9;
    height: 1px;

    @media (min-width: @tablet-width) {
      position: static;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

