.form__label{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @text-color;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: @main-font;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 1px;

  }
}

.form__label-checkbox {
  display: block;
}

.form__label-checkbox .filter__program-choose-input {
  flex: none;
  width: auto;
  min-height: auto;
}

.form__legend {
  background-color: @white;
  font-size: 24px;
  line-height: 26px;
  font-family: @main-font;
  margin-bottom: 36px;
  padding-left: 40px;
  padding-right: 23px;
  margin-left: -40px;
  max-width: 244px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    background-color: @btn-color;
    height: 2px;
    width: 100%;
    margin-top: 13px;
    z-index: -2;
  }

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 75px;
    margin-left: -40px;
    font-size: 36px;
    line-height: 36px;
    max-width: 595px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

