.images-toggle{

}

.images-toggle__before{
  background: none;
  border: none;
}

.images-toggle__compare{
  background: none;
  border: none;

}

.images-toggle__after{
  background: none;
  border: none;
}
