.page-footer{
  background-color: @gray--light;
  color: @text-color;
}

.page-footer__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 55px;
  }
}

.page-footer__link-logo {
  @media (max-width: @mobile-width-only) {
    padding: 39px 0 30px;
  }
}

.page-footer__link{
  text-decoration: none;
  color: @text-color;
  padding: 39px 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0;

  }
}

.page-footer__link:not(:last-child) {
  margin-right: 40px;

}

.page-footer__link-academy{
  text-decoration: none;
  color: @text-color;


  @media (min-width: @tablet-width) {
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.page-footer__social-container::before {
  content: "";
  width: 88%;
  height: 1px;
  position: absolute;
  background-color: #d9d9d9;
  margin-top: -19px;
  right: 20px;

  @media (min-width: @tablet-width){
    display: none;
  }
}

.page-footer__social-container::after {
  content: "";
  width: 88%;
  height: 1px;
  position: absolute;
  background-color: #d9d9d9;
  margin-top: 40px;
  right: 20px;

  @media (min-width: @tablet-width){
    display: none;
  }
}

.page-footer__academy-wrapper{
  @media (max-width: @mobile-width-only) {
    padding: 39px 0 30px;
  }
}
