.page-footer {
  background-color: @gray--light;
  color: @text-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 46px;
    margin-top: 17px;
  }
}

.page-footer__link-logo {
  @media (max-width: @mobile-width-only) {
    padding: 27px 0 52px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 31px;
  }
}

.page-footer__link-logo:hover {
  opacity: 0.8;
}

.page-footer__link-logo:active {
  opacity: 0.6;
}

.page-footer__link {
  text-decoration: none;
  color: @text-color;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__icon--vk {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.page-footer__icon--instagram {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.page-footer__icon--facebook {
  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.page-footer__link svg {
  fill: @special-grey;
}


.page-footer__link .page-footer__icon--facebook {
  fill: none;
  stroke: @special-grey;

  &:hover {
    stroke: @basic-green;
  }
}


.page-footer__link:hover svg {
  fill: @basic-green;
}

.page-footer__link:active svg {
  opacity: 0.3;
}

.page-footer__link:not(:last-child) {
  margin-right: 30px;

  @media (min-width: @tablet-width) {
    margin-right: 26px;
  }
}

.page-footer__link-academy {
  text-decoration: none;
  color: @text-color;
  display: flex;
  fill: @special-grey;

  @media (min-width: @tablet-width) {
    padding: 0;
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.page-footer__link-academy:hover {
  fill: @basic-green;
}

.page-footer__link-academy:active {
  color: @text-color;
  opacity: 0.3;
}

.page-footer__text {
  color: @special-grey;
  margin: 10px 139px 0 0;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    margin: 0 24px 0 0;
  }
}

.page-footer__social-container {
  display: flex;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__social-container::before {
  content: "";
  width: 88%;
  height: 1px;
  position: absolute;
  background-color: #d9d9d9;
  margin-top: -25px;
  right: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-footer__social-container::after {
  content: "";
  width: 88%;
  height: 1px;
  position: absolute;
  background-color: #d9d9d9;
  margin-top: 38px;
  right: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-footer__academy-wrapper {
  @media (max-width: @mobile-width-only) {
    padding: 37px 0 30px;
  }
}
