.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page-header__logo{
  height: 65px;

  @media (min-width: @tablet-width){
  .page-header__logo{
    height: 100px;
  }

}

.page-header__logo-image{

}

.page-header__logo-big-image{

}
}
