.page-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
    width: 1220px;
    justify-content: space-between;
  }
}

.page-header__logo {
  padding: 10px 0 13px;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    width: 30%;
    padding: 25px 0 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 0;
  }
}

.page-header__logo-image {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    padding-top: 33px;
  }
}
