.product{

}

.product__list{
  list-style-type: none;

}

.product__item{

}

.product__link{

}

.product__img{

}

.product__heading{
  font-family: @main-font;
  font-style: normal;
  font-weight: @base-font-weight;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @gray--darken;

}

.product__text{
  font-family: @base-font-family;
  font-style: normal;
  font-weight: @base-font-weight;
  font-size: 12px;
  line-height: 16px;
  color: @text-color;

}

.product__desc{
  font-family: @base-font-family;
  font-style: normal;
  font-weight: @base-font-weight;
  font-size: 12px;
  line-height: 16px;
  color: @text-color;

}

.product__button{
  width: 280px;
  background-color: @btn-color;
  text-decoration: none;
  text-transform: uppercase;
  color: @contrasting-color;
  padding: 10px 109px;
}

.product__button-all{
  width: 280px;
  background-color: @gray;
  text-decoration: none;
  text-transform: uppercase;
  color: @text-color;
  padding: 10px 109px;
}
