.product{

}

.product__list{
  list-style-type: none;

}

.product__item{

}

.product__link{

}

.product__img{

}

.product__heading{

}

.product__desc{

}

.product__button{
  width: 280px;
  height: 40px;
  background-color: #68B738;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.product__button-all{
  width: 280px;
  height: 40px;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
}
