.program-form__title {
  font-family: @main-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: @base-font-weight;
  color: @text-color-heading;
  text-transform: none;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.program-form__title::before {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    border: 1px solid #E6E6E6;
    margin-top: -25px;
  }
}

.program-form__text {
  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: @base-font-weight;
  text-transform: uppercase;
  width: 226px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
