.program{
 text-transform: uppercase;
}

.program__description{
  font-family: Oswald, Raleway, sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000;
  text-transform: none;

}

.program__list{
  text-transform: none;
  list-style-type: none;
}

.program__item{
  display: flex;
  align-items: center;
}


//form//

.program__title{
  font-family: Oswald, Raleway, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000;
}
 .program__text{
  font-family: Oswald, Raleway, sans-serif;
   font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
