.promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @main-font;
  font-style: normal;
  background-color: @btn-color;
  color: @contrasting-color;
  text-align: center;

  @media (min-width: @tablet-width){
    width: 708px;
    margin: 0 auto;
    position: relative;
  }
  @media (min-width: @desktop-width){
    width: 1220px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin-bottom: 82px;
    background-image:linear-gradient(to left, rgba(104,183,56,0.85) 50%, white 50%) ,url("/source/img/index-can-mobile-1.jpg");
    background-repeat: no-repeat;
    background-position: right;}

}

.promo__content{

}

.promo__heading{
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan{
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__bg{

}

.promo__picture{

}

.promo__choose-program{
  text-transform: uppercase;
  color: @contrasting-color;
  background-color: @btn-color;
  width: 280px;
  height: 40px;
  border: none;
}
