.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @main-font;
  font-style: normal;
  color: @contrasting-color;
  text-align: center;
  margin: 0;
  background-position-x: center, center;
  background-position-y: top, top;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 320px;
    height: 302px;
    background-color: #68B738;
    background-image: url("../img/promo-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: @tablet-width){
      display: none;
    }

    @media (min-width: @desktop-width){
      display: block;
      width: 720px;
      height: 694px;
      text-align: inherit;
      background-image: url(../img/promo-desktop.jpg);
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      z-index: -4;
      margin-top: -137px;
      right: 0;
      left: 50%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  @media (min-width: @tablet-width){
    min-height: 837px;
  }
  @media (min-width: @desktop-width){
    max-width: 1440px;
    min-height: 640px;
    margin: 0 auto;
  }
}


.promo__content {
  @media (min-width: @tablet-width) {
    margin-left: 87px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 103px;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-color: #64a73c;

    @media (min-width: @tablet-width){
      display: none;
    }
  }
}

.promo__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: @main-font;
  margin: 27px 0 25px;

  @media (min-width: @tablet-width) {
    color: @text-color-heading;
    text-align: start;
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    margin: 27px 0 41px;
  }
  @media (min-width: @desktop-width) {
    margin: 87px 0 41px;
  }
}

.promo__slogan{
  font-family: @main-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0 29px;

  @media (min-width: @tablet-width){
    color: @text-color-heading;
    margin-right: 210px;
    margin-bottom: 49px;
    margin-left: 2px;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: @desktop-width){
    text-align: left;
  }
}

.promo__picture {
  @media (min-width: @tablet-width) {
    background-image: url("");
    z-index: -1;
    top: 228px;
    right: 30px;
    position: absolute;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: 558px;
  }
}

.promo__picture-big{
  display: none;
  @media (min-width: @desktop-width){
    display: block;
    position: absolute;
    right: -10%;
    top: -25%;
    z-index: -5;
  }

}
.promo__choose-program{
  text-transform: uppercase;
  color: @contrasting-color;
  background-color: @btn-color;
  width: 280px;
  border: none;
  margin-bottom: 20px;
  padding: 10px 26px;
  font-size: 14px;
  font-family: @main-font;
  cursor: pointer;

  @media (min-width: @tablet-width){
    width: 244px;
    margin-left: -245px;
    padding: 12px 0 12px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width){
    margin-right: auto;
    margin-left: 0;
    display: block;
  }
}

.promo__choose-program:hover {
  background-color: #5EAA2F;
}

.promo__choose-program:active {
  color: #ffffff4d;
}

