.sample-program {
  background-color: @gray--dark;
  color: @text-color;

  @media (min-width: @tablet-width){
    background: linear-gradient(to bottom, @white 70%, @gray--light 70%);
    padding: 0 30px;
  }

  @media (min-width: @desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

.sample-program__features {

}

.sample-program__heading {
  font-family: @main-font;
  color: @text-color-heading;
  font-size: 36px;
  font-weight: @base-font-weight;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
  }

}

.sample-program__text {
  font-family: @base-font-family;
  font-size: 14px;
  line-height: 18px;
  font-weight: @base-font-weight;

  @media (min-width: @tablet-width){
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width){
    width: 440px;
  }
}

.sample-program__desc {
  display: grid;
  grid-template-columns: 124px 124px;
  justify-items: center;
}

.sample-program__position{
  @media (min-width: @tablet-width){
    display: flex;
    justify-content: space-between;
    grid-column: 1;
  }

  @media (min-width: @desktop-width){
    display: flex;
    flex-direction: column;

  }
}



.sample-program__meaning {
  font-family: @main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: @base-font-weight;
}

.sample-program__description {
  font-size: 12px;
  line-height: 12px;

}

.sample-program__lead {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: @text-color-heading;
  text-align: center;

  @media (min-width: @tablet-width){
    font-size: 20px;
    line-height: 20px;
  }
}

.sample-program__compare {
  text-align: center;

  @media (min-width: @desktop-width){
    grid-column: 3/2;
    grid-row: 1/-3;
  }
}


.sample-program__before {

}

.sample-program__after {
  display: none;

}
