.sample-program{
  background-color: @gray--dark;
  color: @text-color;
}

.sample-program__features{

}

.sample-program__heading{
  font-family: @main-font;
  color: @text-color-heading;
  font-size: 36px;
  font-weight: @base-font-weight;
  line-height: 40px;

}

.sample-program__text{
  font-family: @base-font-family;
  font-size: 14px;
  line-height: 18px;
  font-weight: @base-font-weight;
}

.sample-program__desc{
  display: grid;
  grid-template-columns: 124px 124px;
  justify-items: center;

}

.sample-program__meaning{
  font-family: @main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: @base-font-weight;
}

.sample-program__description{
  font-size: 12px;
  line-height: 12px;

}

.sample-program__lead{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: @text-color-heading;
  text-align: center;
}

.sample-program__compare{
  text-align: center;

}

.sample-program__before{

}

.sample-program__after{
  display: none;

}

